flask
mysql-connector-python
bcrypt
flask-login
flask-wtf
pyotp
pandas
openpyxl
psutil
bcrypt
Flask-SocketIO
oracledb
python-dotenv
ldap3
SQLAlchemy
psycopg2-binary
openpyxl
Werkzeug
gevent
gevent-websocket