/* =========================
   TOPBAR
========================= */

.topbar{

    position:sticky;

    top:0;

    height:70px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 24px;

    background:var(--bg-card);

    border-bottom:1px solid var(--border-color);

    backdrop-filter:blur(14px);

    z-index:100;

    box-shadow:var(--shadow-sm);

}

.topbar-left h2 {
  margin: 0;
  font-size: 18px;
}

.topbar i {
  color: var(--text-main);
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}
/* toggle button */

.sidebar-toggle {

  width: 42px;
  height: 42px;

  border-radius: 12px;

  background:
    rgba(255,255,255,.06);

  border:
    1px solid rgba(255,255,255,.08);

  color: var(--text-main);

  font-size: 20px;

  display: flex;

  align-items: center;

  justify-content: center;

  transition:
    all .25s ease;
}

.sidebar-toggle:hover {

  background:
    rgba(59,130,246,.18);

  transform:
    scale(1.05);
}

/* NOTIFICACIONES */


.notificacion,
.notificacion i {
  color: var(--text-main);
}

.notificacion i:hover,
.switch-thumb i:hover {
  color: #3b82f6;
}

.theme-switch {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.switch-track {
  width: 55px;
  height: 28px;
  background: #e2e8f0;
  border-radius: 50px;
  position: relative;
  transition: 0.4s ease;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* 🌙 DARK MODE ACTIVO */
body.dark .switch-track {
  background: #1e293b;
}

.switch-thumb {
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* ICONO */
.switch-thumb i {
  font-size: 12px;
  color: #f59e0b;
}



body.dark .switch-thumb {
  transform: translateX(27px);
  background: #020617;
}

body.dark .switch-thumb i {
  color: #60a5fa;
}

.logout-btn {
  background: #0f172a;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  transition: all 0.25s ease;
}

body.dark .logout-btn {
  background: #ef4444;
  color: white;
}

.logout-btn:hover {
  transform: translateY(-2px);
}

body.dark .logout-btn:hover {
  background: #dc2626;
}

.logout-btn i,
.logout-btn svg {
  color: inherit;
}


