<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/app.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/darkmode.css') }}"
    />

    <!-- ICONOS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='image/TI-Fixer-icon.ico') }}"
    />
  </head>

  <body>
    <div class="login-page">
      <div class="login-grid"></div>
      <div class="login-particles"></div>
      <div class="login-wrapper">
        <form method="POST" class="login-box" onsubmit="return handleLogin();">
          <div class="login-logo fade-1">
            <img
              src="{{ url_for('static', filename='image/TI-Fixer-login.png') }}"
              alt="TI-Fixer"
            />
          </div>

          <h2 class="fade-2">TI-Fixer</h2>

          <p class="subtitulo fade-3">Sistema Administrativo</p>

          <div class="login-divider fade-4"></div>

          {% if error %}
          <div class="error-login">{{ error }}</div>
          {% endif %}

          <div class="input-group fade-5">
            <i class="fa fa-user"></i>
            <input type="text" name="username" autocomplete="username" placeholder="Usuario" />
          </div>

          <div class="input-group fade-6">
            <i class="fa fa-lock"></i>
            <input
              type="password"
              id="password"
              name="password"
              autocomplete="current-password"
              placeholder="Contraseña"
            />
            <i class="fa fa-eye toggle-pass" onclick="togglePassword()"></i>
          </div>

          <button type="submit" id="btnLogin" class="btn-login fade-7">
            <span id="btnText">Iniciar sesión</span>
            <span id="loader" class="loader"></span>
          </button>
          <div class="login-security fade-8">
            <span>Acceso seguro</span>

            <div class="security-content">
              <i class="fa-solid fa-shield-halved"></i>

              <p>
                Tus datos están protegidos mediante autenticación y cifrado
                seguro.
              </p>
            </div>
          </div>
        </form>
      </div>

      <!-- JS -->
      <script>
        function togglePassword() {
          const input = document.getElementById("password");
          const icon = document.querySelector(".toggle-pass");

          if (input.type === "password") {
            input.type = "text";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
          } else {
            input.type = "password";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
          }
        }

        function handleLogin(form) {
          const btn = document.getElementById("btnLogin");
          const text = document.getElementById("btnText");
          const loader = document.getElementById("loader");

          // activar loader
          text.style.display = "none";
          loader.style.display = "inline-block";
          btn.disabled = true;

          return true; // deja que Flask procese el login real
        }
      </script>
    </div>
  </body>
</html>
